<section id="footer" class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col col-12 col-sm-12 col-md-3 col-lg-3 text-center justify-content-center">
            <ul class="list-group list-group-horizontal listaderedes redesfooter justify-content-center">
                <li class="nav-item list-group-item"><a><i class="fa-brands fa-slack fa-xl redes"></i></a></li>
            </ul>
        </div>
        <div class="col col-12 col-sm-12 col-md-6 col-lg-6">
          <h6><p class="text-pequeño text-center"> Victor Luis Uzcátegui Luque - 
            Full Stack Developer<br>
            Ciudad Autónoma de Buenos Aires - República de Argentina<br>
            Copyright © Victor Uzcátegui 2023. All Rights Reserved
            </p></h6>
        </div>
        <div class="col col-12 col-sm-12 col-md-3 col-lg-3 text-center justify-content-center">
          <ul class="list-group list-group-horizontal listaderedes redesfooter justify-content-center">
            <li class="nav-item list-group-item"><a><i class="fa-brands fa-instagram fa-lg redes"></i></a></li>
            <li class="nav-item list-group-item"><a><i class="fa-brands fa-whatsapp fa-lg redes"></i></a></li>
          </ul>
        </div>  
      </div>
    </div>
</section>