
      <div class="fondo">
      <div class="container text-center">
        <div class="productos">
        <button type="button" class="btn btn-outline-light">VER PRODUCTOS</button>
        </div>
      </div>
      <div class="conteiner categorias">
        <div class="titulo text-center">
              ¿QUÉ TIPO DE PRODUCTO BUSCAS?
        </div>
        <div class="container text-center">
          <div class="row">
            <div class="col">
              <button type="button" class="btn btn-outline-light">Remeras</button>
            </div>
            <div class="col">
              <button type="button" class="btn btn-outline-light">Buzos</button>
            </div>
            <div class="col">
              <button type="button" class="btn btn-outline-light">Boxers</button>
            </div>
          </div>
        </div>
      </div>
  </div>
